<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sedan" class="com.example.demo.Sedan" scope="singleton" init-method="init" destroy-method="destroy"/>
    <bean id="suv" class="com.example.demo.SUV" scope="singleton" init-method="init" destroy-method="destroy"/>
    <bean id="coupe" class="com.example.demo.Coupe" scope="singleton" init-method="init" destroy-method="destroy"/>

    <bean id="sedanDisplay" class="com.example.demo.VehicleDisplay" scope="singleton">
        <constructor-arg ref="sedan"/>
    </bean>
    <bean id="suvDisplay" class="com.example.demo.VehicleDisplay" scope="singleton">
        <constructor-arg ref="suv"/>
    </bean>
    <bean id="coupeDisplay" class="com.example.demo.VehicleDisplay" scope="singleton">
        <constructor-arg ref="coupe"/>
    </bean>

</beans>