<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить автомобиль</title>
  <meta charset="UTF-8" />
</head>
<body>
<h1>Добавить автомобиль</h1>
<form action="#" th:action="@{/cars/add}" th:object="${car}" method="post">
  <label>Марка: <input type="text" th:field="*{brand}" /></label><br/>
  <label>Модификация: <input type="text" th:field="*{horsePower}" /></label><br/>
  <label>Тип двигателя: <input type="text" th:field="*{engineType}" /></label><br/>
  <label>Пробег: <input type="number" th:field="*{mileage}" /></label><br/>
  <label>Год выпуска: <input type="number" th:field="*{year}" /></label><br/>
  <label>Поколение: <input type="text" th:field="*{generation}" /></label><br/>
  <label>Цвет: <input type="text" th:field="*{color}" /></label><br/>
  <label>Объем двигателя: <input type="number" step="0.1" th:field="*{engineVolume}" /></label><br/>
  <label>Коробка передач: <input type="text" th:field="*{transmission}" /></label><br/>
  <label>Цена: <input type="number" th:field="*{price}" /></label><br/>
  <button type="submit">Добавить</button>
</form>
<a href="/cars">Вернуться к списку автомобилей</a>
</body>
</html>